body {
    font-family:'Roboto Mono',monospace;
    min-height: 540px;
    background-image:
  url('https://img.freepik.com/fotos-gratis/cifrao-em-preto-redering-3d_118019-39.jpg?size=626&ext=jpg');
    background-color: #000000;
    background-size: 140vh;
    background-position: right bottom;
    background-repeat: no-repeat;
    color: white;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height:100vh:
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
  }
  
  label {
    color: white;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  h2 {
    color: #ffffff;
    font-size: 30px;
  }
  
  